@import "tailwindcss";

@layer base {
    body {
        @apply antialiased text-slate-900 bg-slate-50 min-h-screen flex flex-col;
    }

    p {
        text-align: justify;
        text-justify: inter-word;
        @apply leading-relaxed mb-4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold tracking-tight text-slate-900;
    }

    .container {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full;
    }
}

@theme {
    --color-brand: #4f46e5;
    --color-brand-dark: #3730a3;
}