}

body {
    display: flex;
    justify-content: center;
}

    width: 100%;
}

}

}

}

}

    text-align: center;
}

}

    display: block;
}

    width: 100%;
    outline: none;
}

    width: 100%;
    border: none;
    cursor: pointer;
}

}